<script>
	export let data = [];
	export let AngleScale;
	export let yScale;
	
	$: GeneratePath = (d) => {
		
		let path = "M"
		d.forEach((value, idx) => {
			path += " " + yScale(value)*Math.sin(AngleScale(idx)) + "," + yScale(-value)*Math.cos(AngleScale(idx))
		}) 
		return path; 
	}
	
</script>

<path d={GeneratePath(data)}> </path>

<style>
	path {
		fill-opacity: 0.5;
	}
</style>
