<script>
	import Path from "./_design_2_1stplot.svelte"
	
	import { json } from 'd3-fetch';
	import { onMount } from 'svelte';
	
	import { scaleLinear } from 'd3-scale';
	import { scaleRadial } from 'd3-scale';
	import {extent} from 'd3-array';
	import {max} from 'd3-array';
	
  const width = 650;
  const height = 250;
  const margin = { top: 15, right: 15, bottom: 15, left: 15 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
	
	let data = [];
	onMount(async () => {
		data = await json("https://datavis-exercises.vercel.app/data/daily_heating_cooling.json");
});
	
	
	$: heating_data = {};
	$: {
		data.forEach((d) => {
			if (!(d.city in heating_data)){
				heating_data[d.city] = []
			}
			heating_data[d.city].push(d.heating)
		})
	}
	
	$: cooling_data = {};
	$: {
		data.forEach((d) => {
			if (!(d.city in cooling_data)){
				cooling_data[d.city] = []
			}
			cooling_data[d.city].push(d.cooling)
		})
	}
	
	$: AngleScale = scaleLinear().domain(extent(data.map((d) => d.day_of_year))).range([0,2*Math.PI])

	$: yScale = scaleRadial()
		.domain([0,max(data.map((d) => d.heating))])
		.range([0,100]);
	

</script>

<svg width = {width+250} height = {height+80}>
	<circle class="LegendCooling" cx=50 cy=300 r=8></circle>
	<text class="Legend" x=70 y=305 >Cooling</text>
	<circle class="LegendHeating" cx=160 cy=300 r=8></circle>
	<text class="Legend" x=180 y=305 >Heating</text>
	<rect x=30 y=280 width=220 height=40></rect>
	{#each Object.keys(cooling_data) as city, city_idx}
		<g transform = "translate({city_idx*width/2+25}, 30)">
			<text class="City" x={width/6-45} y={height/2-130}> {city} </text>
			<g transform = "translate({width/6}, {height/2})">
				<circle class="clock" cx=0 cy=0 r=80 ></circle>
				<circle class="middle" cx=0 cy=0 r=3 ></circle>
				<line x1=-100 y1=0 x2=100 y2=0></line>
				<line x1=0 y1=-100 x2=0 y2=100></line>
				<text class="Hour" x=-8 y=-105 >12</text>
				<text class="Hour" x=105 y=5 >3</text>
				<text class="Hour" x=-4 y=115 >6</text>
				<text class="Hour" x=-115 y=5 >9</text>
				<g class="Cooling" >
					<Path data = {cooling_data[city]} yScale={yScale} AngleScale={AngleScale}/>
				</g>
			</g>
			<g class="Heating" transform = "translate({width/6}, {height/2})">
				<Path class="Heating" data = {heating_data[city]} yScale={yScale} AngleScale={AngleScale} />
			</g>
			
		</g>
	{/each}

	
</svg> 

<style>
	rect {
		fill: none;
		stroke: black;
		stroke-width: 1;
	}
	line {
		stroke: black;
		stroke-width: 0.5;
		opacity: 1;
	}
	.Hour {
		font-size: 12px;
	}
	.middle {
		fill: black;
	}
	.clock {
		fill: none;
		stroke: black;
		stroke-width: 1;
	}
	.LegendCooling {
		fill: skyblue;
		stroke: blue;
		fill-opacity: 0.5
	}
	.LegendHeating {
		fill: pink;
		stroke: red;
		fill-opacity: 0.5;
	}
	.City {
		font-weight: lighter;
		font-size: 15px;
	}
	.Cooling {
		fill: skyblue;
		stroke: blue;
	}
	.Heating {
		fill: pink;
		stroke: red;
	}
	svg {
    border: 0.5px solid black;
    border-radius: 2.5px;
  }
</style>


