<script>
    const myList = ['field hockey','music','party'];
const student = {name: 'Ines Ruiz', favoritethings:myList};

</script>
<p>My name is {student.name} and these are my favourite things: {student.favoritethings}  </p>