<script>
  // Updated
  // Dimensions
  const width = 950;
  const height = 120;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [2, 4, 6, 7, 9];

  import { scaleLog } from 'd3-scale';
  const scale = scaleLog()
  scale.domain([Math.min.apply(Math,values), Math.max.apply(Math,values)])
  scale.range([0, width-50]);
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as data_x}
    <circle cx = {scale(data_x)} cy = {innerHeight/2} r = 10 fill = "skyblue"/>
    {/each}
  </g>
</svg>


