<script>
  import {scaleLinear} from 'd3-scale';
  import {axisLeft} from 'd3-axis';
  import {scaleBand} from 'd3-scale';
  import {axisBottom} from 'd3-axis';
  import {select} from 'd3-selection';
  
    // Dimensions
    const width = 600;
    const height = 300;
    const margin = { top: 10, right: 10, bottom: 30, left: 60 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
  
    // Array
    const data = [
      { service: "Netflix", viewers: 2.9 },
      { service: "Amazon Prime Video", viewers: 1.3 },
      { service: "Disney+", viewers: 2.1 },
      { service: "Hulu", viewers: 0.9 },
      { service: "Apple TV", viewers: 1.1 },
      { service: "Rakuten", viewers: 0.4 }
    ];
    const xScale = scaleBand().range([0,innerWidth]).padding(0.19).domain(data.map(d => d.service));
    const yScale = scaleLinear().domain([3,0]).range([0,innerHeight]);
    const xAxis = axisBottom(xScale);
    const yAxis = axisLeft(yScale);
    
    function bAX(dom){
      xAxis(select(dom))
    }
    function lAX(dom){
      yAxis(select(dom))
    }
  
  </script>
  
  <!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
  <svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
    <g transform={`translate(${margin.left},${margin.top})`}>
      <text x="-150" y="27" class="svelte-i69xg6">Viewers (Million)</text>
  
      <!--  -->
      {#each data as d}
      <rect x={xScale(d.service)} y={yScale(d.viewers)} width={xScale.bandwidth()} height={innerHeight-yScale(d.viewers)} fill="steelblue" />
      {/each}
  
      <text transform="rotate(-90)" x={-7*margin.right -2*margin.left} y={margin.top-50} fill="currentcolor" class="label1">Viewers (Million)</text>
  
  
    </g>
    <g use:bAX transform={`translate(${margin.left},${innerHeight+margin.top})`} />
  
    <g use:lAX transform={`translate(${margin.left},${margin.top})`} />
  
  
  </svg>
  
